# contains info specific to admin folder 
# it is a file that apache automatically reads
# normally should be placed outside of the document root


#AuthName "Adminstrators Only"
#AuthBasic Basic
AuthUserFile my-site/TutsPlus_PHP-Fundamentals/blog-4/blog/.htpasswd
#require valid-user

<Limit GET POST PUT>
	order deny,allow
	deny from all
	allow from ::1 #local server
	# for remote network: 
	# allow from 88.235.166.121
</Limit>